@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: Times, sans-serif,
}
a {
    text-decoration: none;
}
.container {
    min-height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left; 
}
/* Top Section */ 
#top {
    background-image: url(./img/gd78f8a7fed874e453cbccdf5b87f29aedcdc48b9cf6004918bb3290b04250118615a821065a62bd20da0b43baad42dc2_640.jpeg);
    background-size: cover; /* this is what makes ot one photo |*/
    background-position:  center; 
    height:400px;
    position: relative;
    z-index: 1;
}
/* overlay */
#top::after { /* last child of element */
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7; 
    z-index: -1; 
}
#top .top {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 50px;
    justify-content: flex-start;
}
#top h1{
    display: block;
    margin: 0 auto;
    text-align:center;
    width: fit-content;
    font-size: 4rem; 
    position: relative;
    color: transparent; 
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#top h1:nth-child(1) {
    animation-delay: 1.5s;
}
#top h1:nth-child(2) {
    animation-delay: 2.5s;
}
#top h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3.5s;
}
/* for each different text */ 
#top h1 span{
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: blueviolet;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s; 
}
#top h1:nth-child(1) span{
    animation-delay: 1s;
}
#top h1:nth-child(2) span{
    animation-delay: 2s;
}
#top h1:nth-child(3) span{
    animation-delay: 3s;
}
#top .cta{
    display: inline-block;
    position: center; 
    text-align: right;
    padding: 10px 30px; 
    color: crimson;
    background-color: transparent;
    border: 1px solid crimson; 
    text-transform: uppercase; 
    letter-spacing: .4rem;  
    transition: .3s ease;
    transition-property: background-color, color; 
}   
#top .cta:hover {
    color: white; 
    background-color: crimson; 
}

/* SERVICES SECTION */
#services { 
    background-image: linear-gradient(gray,white);
    height: 600px;
    width: 100%;
    display: flex; 
}
#services .services{
    flex-direction: column; /* makes all the items in services align from top to left and must redefine based on container */
    text-align: center; 
    max-width: 1500; 
    margin: 0 auto; 
    padding: 100px 0; 
}
#services .section-title{
    font-size: 4rem; 
    font-weight: 300; 
    color: white; 
    margin-bottom: 10px; 
    text-transform: uppercase; 
    letter-spacing: .2rem; 
    text-align: center; 
}
#services .service-top p{
    font-size: 3rem;
    margin-top: 5px;
    letter-spacing: 20rem;
}
#services .section-title span{
    animation: reveal_i 3s ease forwards;

}
#services .service-top p{
    font-size: 1.4rem; 
    margin-top: 5px; 
    line-height: 2.5rem; 
    font-weight: 300px; 
    letter-spacing: .05rem; 
}
#services .service-bottom{
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap; 
}
#services .service-item { 
    flex-basis: 80%;
    display: flex; 
    align-items: flex-start;
    justify-content: center; 
    flex-direction: column; 
    padding: 30px; 
    border-radius: 10px; 
    background-image: url(./img/watercolor.jpeg);
    background-size: cover;  
    margin: 10px 5%; 
}
#services h1{
    text-align: center;
}

/* Keyframes  */ 
@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0;
    }
    100% {
        width: 0; 
        left: 100%; 
    }
}
@keyframes text_reveal{
    100% {
        color: white; 
    }
}
@keyframes text_reveal_name {
    100% {
        color: red; 
    }
}
@keyframes reveal_i{
    20%{
        height: 100%;
        bottom: 0;
    }
    100% {
        height: 0; 
        bottom: 100%; 
        color: crimson;
    }
}

