@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: Times, sans-serif;
    
}

a {
    text-decoration: none;
}
.container {
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}
img {
    height: 100%; 
    width: 100%; 
    object-fit: cover; 
}
p {
    margin-top: 5px; 
    color: rgb(173, 167, 167); 
    text-align: right; 
    font-size: 1.5rem; 
    line-height: 2.5rem;
    letter-spacing: .05rem; 
    font-weight: 300; 
}
#header {
    background-color: black; 
    display: block; 
    height: 50px;
}
#header h1{
    font-size: 20px; 
    color: white;
    margin: 0 auto;
}
/* Scroller Section */ 
.scroll-progress { 
    width: 100%; 
    background-color: red; 
    height: 4px; 
    position: fixed; 
    top: 0; 
    left: 0; 
}
/* Top Section */ 
#top {
    background-image: url(./img/gd78f8a7fed874e453cbccdf5b87f29aedcdc48b9cf6004918bb3290b04250118615a821065a62bd20da0b43baad42dc2_640.jpeg);
    background-size: cover; /* this is what makes ot one photo |*/
    background-position:  center; 
    height:400px;
    position: relative;
    z-index: 1;
}
/* overlay */
#top::after { /* last child of element */
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7; 
    z-index: -1; 
}
#top .top {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 50px;
    justify-content: flex-start;
}
#top h1{
    display: block;
    margin: 0 auto;
    text-align:center;
    width: fit-content;
    font-size: 4rem; 
    position: relative;
    color: transparent; 
    animation: text_reveal .5s ease forwards;
    animation-delay: 1.5s;
}
#top h1:nth-child(1) {
    animation-delay: 1.5s;
}
#top h1:nth-child(2) {
    animation-delay: 2.5s;
}
#top h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3.5s;
}
/* for each different text */ 
#top h1 span{
    position: absolute; 
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: blueviolet;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s; 
}
#top h1:nth-child(1) span{
    animation-delay: 1s;
}
#top h1:nth-child(2) span{
    animation-delay: 2s;
}
#top h1:nth-child(3) span{
    animation-delay: 3s;
}
#top .cta{
    display: inline-block;
    position: center; 
    padding: 10px 30px; 
    color: crimson;
    background-color: transparent;
    border: 1px solid crimson; 
    text-transform: uppercase; 
    letter-spacing: .4rem;  
    transition: .3s ease;
    transition-property: background-color, color; 
}   
#top .cta:hover {
    color: white; 
    background-color: crimson; 
}

/* SERVICES SECTION */
#services { 
    background-image: url(./img/watercolor.jpeg);
    background-size: cover;
    height: 100%;
    width: 100%;
}
#services .services{
    flex-direction: column; /* makes all the items in services align from top to left and must redefine based on container */
    text-align: center; 
    max-width: 1500px; 
    margin: 0 auto; 
    padding: 100px 0; 
}
#services .section-title{
    font-size: 4rem; 
    font-weight: 300; 
    color: white; 
    margin-bottom: 10px; 
    text-transform: uppercase; 
    letter-spacing: .2rem; 
    text-align: center; 
    margin-top: -50px;
    
}
#services .section-title span{
    animation: reveal_i 3s ease forwards;

}
#services .service-top p{
    color: black; 
    justify-content: center; 
    text-align: center; 
    display: inline-block;
    font-size: 1.4rem; 
    margin-top: 5px; 
    margin-left: 20px; 
    margin-right: 20px; 
    line-height: 2.5rem; 
    font-weight: 300px; 
    letter-spacing: .05rem; 
}
#services .service-bottom{
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px; 
}
#services .services-item { 
    flex-basis: 80%;
    display: flex; 
    align-items: flex-start; 
    justify-content: center;
    flex-direction: column; 
    padding: 30px; 
    border-radius: 10px; 
    margin: 10px 5%; 
    background-image: url(./img/1295890.png);
    background-size: cover; 
    margin: 10px 5%; 
    position: relative; /* very important actually blurs out the specific part of the block   */ 
    z-index: 1; 
    overflow: hidden; 
} 
#services .services-item::after{
    content: '';
    position: absolute; 
    left: 0;
    top:0; 
    height: 100%; 
    width: 100%; 
    background-color: black; 
    opacity: .4; 
    z-index: -1;
}
#services .service-bottom h2{
   font-size: 2rem;
    color: white; 
    margin-bottom: 10px; 
    text-transform: uppercase; 
}

#services .service-bottom .icon{
    height: 80px;
    width: 100%; 
    margin-bottom: 20px; 
}
#services .servics-item p{
    color: white; 
}
/*Projects*/
#project{ 
    display: flex; 
    height: 100%; 
    width:100%
} 
#project .projects{
    flex-direction: column; 
    max-width: 1500px; 
    margin: 0 auto; 
    padding: 100px 0; 
}
#project .project-top{
    font-size: 3rem;
    color: black; 
    text-transform: uppercase; 
    align-items: center;
    line-height: 2.5rem; 
    letter-spacing: 1rem;
    font-weight: 400;
    font-family: Impact; 
}
#project .project-bottom{
    display: flex; 
    text-align: center; 
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap; 
    margin-top: 25px; 
}
#project .project-top span{
    color: red;
}
#project .project-items {
    display: flex; 
    align-items: center; /* changes where the title is like on the left or center */
    justify-content: center; 
    flex-direction: column; 
    width: 60%; 
    border-radius: 10px;
    background-color: rgb(5, 5, 52);
    background-size: cover; 
    position: relative; 
    overflow: hidden; 
    margin: 20px auto; 
    z-index: 1;
    overflow: hidden; 
}
#project .project-items::after{
    content: '';
    position: absolute; 
    left: 0; 
    top: 0; 
    height: 100%; 
    width: 100%; 
    background-color:black; 
    opacity: .4;
    z-index: -1;
}
#project .project-items h2{
    color: white; 
    font-size: 3.2rem; 
    text-transform: uppercase;
}
#project .project-items h4{
    color: white; 
    font-size: 1.5rem; 
}
#project .project-items p{
    color: white; 
    text-align: left; 
}
#project .projectinfo{ 
    padding: 20px; 
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    text-align: left; 

}
#project .projectinfo{ 
    transition: .2s ease transform; 
}
#project .projectinfo:hover { 
    transform: scale(0.95);
}

#project .photo{
    flex-basis: 50%; 
    height: 300px; 
    overflow: hidden; 
}
#project .photo:after{
    content: '';
    position: absolute; 
    left: 0; 
    top: 50; 
    height: 100%; 
    width: 100%; 
    background-color: black;
    opacity: .3; 
}
#project .photo img{
    transition: .3s ease transform; 
}
#project .project-items:hover .photo img{
    transform: scale(1.2);
}
#about-me{
    display: flex; 
    background-color:rgb(218, 212, 212);
}
#about-me .about-me{
    flex-direction: column;
    text-align: center; 
    margin: 0 auto; 
    padding: 10px; 
    overflow: hidden;
    margin-bottom: 20px; 
}
#about-me .about-me-info{
    text-align: center; 
    padding: 50px; 
}
#about-me .about-me-info h1{
    text-align: center; 
    margin-top: -25px; 
    font-size: 4rem;
    text-transform: uppercase;
} 
#about-me .about-me-info h1 span{
    color:crimson;
}   
#about-me .about-me-info h3{
    font-size: 1.5rem; 
    color:blueviolet;
}
#about-me .about-me-info p{
    justify-content: center;
    text-align: center;
    text-transform: bold;
    color: black;
    margin-bottom: 25px; 
}
#about-me .about-me-photo{
    width: 200px; 
    height: 300px;
    position: relative;  
    z-index: 1; /*puts it behind photo */
    border: 10px solid rgb(218, 212, 212);
}
#about-me .about-me-photo::after{
    content:'';
    position: absolute;
    left: -33px; 
    top: 19px; 
    height: 98%;
    width: 98%;  
    border: 7px solid crimson; 
    z-index:-1;

}
#about-me .hi{
    display: inline-block; 
    position: center; 
    padding: 10px 20px; 
    border: 1px solid blue;
    text-transform: uppercase;
    font-size: 2rem;
    background-color: transparent;  
    letter-spacing: .3rem;
    transition: .5s ease; 
    transition-property: background-color, color; 
    transition: .4s ease transform; 
}
#about-me .hi:hover{
    color: white;
    background-color:blue;
    transform: scale(1.1);
}
#about-me .social-media{
    justify-content: space-evenly; 
    display: flex; 
    margin: 20px; 
    transition: .3s ease transform; 

}
#about-me .instagram{
    display: inline-block;
    padding: 20px; 
    height: 150px;
    width: 150px;
}
#about-me .instagram:hover{
    transform: scale(0.90);
}


/* Keyframes  */ 
@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0;
    }
    100% {
        width: 0; 
        left: 100%; 
    }
}
@keyframes text_reveal{
    100% {
        color: white; 
    }
}
@keyframes text_reveal_name {
    100% {
        color: red; 
    }
}
@keyframes reveal_i{
    20%{
        height: 100%;
        bottom: 0;
    }
    100% {
        height: 0; 
        bottom: 100%; 
        color: crimson;
    }
}

